* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
  
}

p {
  padding:20px;
  
}

body {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  color: #4d2323;
  background-image: url(https://images.pexels.com/photos/6847584/pexels-photo-6847584.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-size:cover;
  
}

.section-title {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #633974;
  text-align: center;
  
}

.my-name {
  font-size: 47px;
  margin-right: 10px;
  
}

pre {
  padding-left: 20px;
}

img {
  border-radius: 750px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: 50% 20%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.nav-list {
  list-style: none;
  margin: 0;
  background-color: #CACFD2;
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  
}

.nav-link {
  padding: 0 15px;
  line-height: 50px;
  text-decoration: none;
  transition: .3s;
  color: #283747;
  font-size: 15px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
  height: 190px
}

.footer-text {
  display: inline;  
}

.footer-logo {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

#profile {
  display: flex;
  align-items: center;
  justify-content:center;
  
  border-radius: 10px;
}

footer {
  margin-left: 20px;
}